@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #1E293B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;

  /* Custom Main Brand Colors KOPJASFAS */
  --color-brand-green: #84C345;
  --color-brand-orange: #F9A41A;
  --color-brand-navy: #1E293B;
  --color-brand-gray: #596677;
  --color-brand-light: #E8F5E1;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
